.reg_form{
    margin-left: auto;
    margin-right: auto;
    width: "50%";
    border-spacing: 2px;
    background-image: linear-gradient(rgb(38, 114, 167), rgb(119, 149, 212));
    border: 1px solid;
}
td{
    padding: "5px";
    border: 1px solid;
}